<ion-view view-title="Help & Support">
  <ion-nav-buttons side="left">
       <button class="button button-icon button-clear ion-navicon " menu-toggle="left" id="lhm_button">
        </button>

    </ion-nav-buttons>
    <ion-content>
<div class="row"><div class="col"><h5><b>Event Management:</b></h5></div><div class="col"><h5> Rakesh Krishnan <a onclick="window.open('tel:9611811688')"><span class="badge badge-positive icon ion-android-call item-note"> </span></a> </h5></div><br></div>
<div class="row"><div class="col"><h5><b>Branding and Communication:</b></h5></div><div class="col"><h5>Neelam Thakur <a onclick="window.open('tel:9900151155')"><span class="badge badge-positive icon ion-android-call item-note"> </span></a> <br><br> Madhusudhan <br>Chatakunda  <a onclick="window.open('tel:7760962712')"><span class="badge badge-positive icon ion-android-call item-note"> </span></a>  </h5></div><br></div>
<div class="row"><div class="col"><h5><b>Stalls:</b></h5></div><div class="col"><h5>Bhavesh Kumar <a onclick="window.open('tel:9731355997')"><span class="badge badge-positive icon ion-android-call item-note"> </span></a> </h5></div><br></div>
<div class="row"><div class="col"><h5><b>Hackathon:</b></h5></div><div class="col"><h5>Rajesh Ramesh <a onclick="window.open('tel:9740067446')"><span class="badge badge-positive icon ion-android-call item-note"> </span></a> </h5></div><br></div>
<div class="row"><div class="col"><h5><b>Lunch:</b></h5></div><div class="col"><h5>Kavitha Arunkumar <a onclick="window.open('tel:9945655211')"><span class="badge badge-positive icon ion-android-call item-note"> </span></a> </h5></div><br></div>
<div class="row"><div class="col"><h5><b>Tech Day App:</b></h5></div><div class="col"><h5>Sam George <a onclick="window.open('tel:984565115')"><span class="badge badge-positive icon ion-android-call item-note"> </span></a> <br><br> Sujit Deshpande <a onclick="window.open('tel:9480020022')"><span class="badge badge-positive icon ion-android-call item-note"> </span></a> </h5></div><br></div>
<div class="row"><div class="col"><h5><b>Awards:</b></h5></div><div class="col"><h5>Sindhu <br>Ravindranathan <a onclick="window.open('tel:9008311488')"><span class="badge badge-positive icon ion-android-call item-note"> </span></a> </h5></div><br></div>
<div class="row"><div class="col"><h5><b>Program Management:</b></h5></div><div class="col"><h5>Sindhu <br>Ravindranathan <a onclick="window.open('tel:9008311488')"><span class="badge badge-positive icon ion-android-call item-note"> </span></a> </h5></div><br></div>



</ion-content>
</ion-view>
