<ion-view view-title="Keep Tweeting">
  <ion-nav-buttons side="left">
       <button class="button button-icon button-clear ion-navicon " menu-toggle="left" id="lhm_button">
        </button>
    </ion-nav-buttons>
  <ion-content>
 
   <div class="wrapper">
   <a href="#/" onclick="window.open('https://twitter.com/intent/tweet?hashtags=tescotechday', '_blank', 'location=yes'); return false;">
  <span class="button icon-left ion-social-twitter button-positive" style="background-color: #55acee;">
  </span>
  </a>
  <h2 style="color:#55acee">
  #tescotechday
</h2>
</div>
<div class="item">
    <img class="full-image" src="img/Tweet.jpg">
</div>

  </ion-content>
</ion-view>
