/* Empty. Add your own CSS if you like */

.cus_card {
        background-color: white;
        max-width: 960px;
        width: 100%;
        padding: 20px;
        margin: auto;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.input-group {
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
}

.input-group:after {
    content: "";
    display: table;
    clear: both;
}

.input-group input {
    border: none;
    border-bottom: solid 1px #ccc;
    width: 100%;
    padding: 10px 0;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input-group input:focus {
    outline: none;
    border-color: #2a9fdd;
    box-shadow: 0 1px 0 0 #2a9fdd;
}

.input-group label {
    white-space: nowrap;
    position: absolute;
    top: 30px;
    left: 0;
    color: #aaa;
    font-weight: 300;
    transition: transform 0.2s ease, color 0.2s ease;
        transition: -webkit-transform 0.2s ease, color 0.2s ease;

/*    transition: -ms-transform 0.2s ease, color 0.2s ease;
    transition: -moz-transform 0.2s ease, color 0.2s ease;
    transition: -o-transform 0.2s ease, color 0.2s ease;
*/
}

.input-group label:hover {
    cursor: text;
}

.input-group input:focus + label {
    color: #2a9fdd;
}

.input-group input:focus + label,
.input-group input.active + label {
    transform: translateY(-30px);
/*-ms-transform:translateY(-30px);  IE */
/*-moz-transform:translateY(-30px); /* Firefox */
  -webkit-transform:translateY(-30px); /* Safari and Chrome */
/*-o-transform:translateY(-30px); /* Opera */
*/}

.btn {
    float: right;
    color: #2a9fdd;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 2px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: opacity 0.2s ease, background-color 0.2s ease-in-out;
}

.btn:hover,
.btn:focus {
    background-color: #fbfbfb;
}

.btn:active {
    background-color: #f2f2f2;
}



.submitbutton {
    text-align: center;
    width: 95%;
    margin-top: 8px;
    font-size:14px; 
    margin-left:10px; 
 
}

.icon_home{
    font-size: 24px;
}

.bar.bar-custom {
    border-color: #0c63ee;
    background-color: #2a9fdd;
    background-image: linear-gradient(0deg, #0c63ee, #0c63ee 50%, transparent 50%);
    color: #fff; 
}
.video a {
  position: absolute;
  display: block;
  background: url(http://www.slatecube.com/images/play-btn.png);
  height: 60px;
  width: 60px;
  top: 75px;
  left: 680px;
  background-size: 60px 60px;
  background-repeat: no-repeat;
}


/* Make it a marquee */
.marquee {
    width: 450px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
/*          -webkit-animation: moveSlideshow 165s steps(10000) infinite;
*/
    -webkit-animation: marquee 100s linear infinite;
}

/*.marquee:hover {
  animation-play-state: paused
}*/

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 30em }
    100% { text-indent: -105em }
}

/* Make it pretty */
.pretty {
    padding-left: 1.5em;
    position: relative;
    font: 16px 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}

.wrapper {
    text-align: center;
    margin-top:30px;
}



span {
  display: block;
}

.twitter {
  color: white;
  font-size: 30px;
  margin-top: 5px;
  text-shadow: 1px 1px 1px #adadad;
}





